:root {
    --text-color: rgb(78, 216, 254);
}

* {
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    margin: auto;
}

body {
    background-color: rgb(10, 82, 119);
}

#head-banner {
    background-image: url('https://i.imgur.com/MF0CbXI.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid var(--text-color);
}

#head-banner h1 {
    text-align: left;
    color: var(--text-color);
    font-size: 52px;
    padding: 1rem;
}

#head-banner img {
    width: 100%;
    height: 12rem;
}

#container {
    position: relative;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.page-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    text-align: center;
    margin: auto;
}

.pagenav {
    height: 100%;
    width: 33%;
    background-image: linear-gradient(rgb(139,249,254),rgb(11,20,33), rgb(70,126,162));
    border-style: groove;
}

#main-container {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 10px
}

#main-container img {
    height: 30%;
    width: 30%;
    border: 7px solid var(--text-color);
    border-radius: 5px;
    margin: 1rem;
}

#welcome-info {
    text-align: center;
    width: 50%;
    height: 25%;
}

#welcome-info h2 {
    font-size: 34px;
}

@media (max-width: 600px) {


}