:root {
    --text-color: rgb(78, 216, 254);
}

* {
    font-family: 'Arsenal', sans-serif;
    margin: auto;
}

body {
    background-color: rgb(10, 82, 119);
}

#head-banner {
    background-image: url('https://i.imgur.com/MF0CbXI.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid var(--text-color);
}

#head-banner h1 {
    text-align: left;
    color: var(--text-color);
    padding: 1rem;
    font-size: 52px;
}

#head-banner img {
    width: 100%;
    height: 12rem;
}

#container {
    position: relative;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.page-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    text-align: center;
    margin: auto;
}

.pagenav {
    height: 100%;
    width: 33%;
    background-image: linear-gradient(rgb(139,249,254),rgb(11,20,33), rgb(70,126,162));
    border-style: groove;
}

header {
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    font-size: 32px;
    border-bottom: 3px solid var(--text-color);
}

#game-title {
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    font-size: 25px;
}

#game-container {
    display: flex;
    height: 100%;
}

#wordle-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wordle-game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4px;
    border: 10px solid rgb(4,22,37);
    border-radius: 12px;
    box-sizing: border-box;
}

.wordle-char-tiles {
    border: 2px solid rgb(25,212,230);
    min-width: 80px;
    min-height: 80px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

#keyboard {
    display: flex;
    height: 100%;
}

.keyboard-keys {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4px;
    border: 2px solid red;
}

.keys {
    min-width: 4rem;
    min-height: 4rem;
    text-align: center;
}

#delete {

}

#enter {

}

#startbtn {
    display: block;
}

