:root {
    --text-color: rgb(78, 216, 254);
}

* {
    font-family: 'Arsenal', sans-serif;
    margin: auto;
}

body {
    background-color: rgb(10, 82, 119);
}

#head-banner {
    background-image: url('https://i.imgur.com/MF0CbXI.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid var(--text-color);
}

#head-banner h1 {
    text-align: left;
    color: var(--text-color);
    padding: 1rem;
    font-size: 52px;
}

#head-banner img {
    width: 100%;
    height: 12rem;
}

#container {
    position: relative;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bolder;
}

.page-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.pagenav {
    height: 100%;
    width: 33%;
    background-image: linear-gradient(rgb(139,249,254),rgb(11,20,33), rgb(70,126,162));
    border-style: groove;
}

#modal {
    display: none;
    background-color: rgb(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}

#modal-info {
    display: flex;
    flex-direction: column;
	background-color: rgb(17,39,65,0.8);
	height: 50%;
	width: 50%;
	border-radius: 10px;
    margin-top: 15rem;
}

.modal-text {
    position: relative;
    text-align: center;
    color: var(--text-color);
    font-size: 45px;
    margin: 4rem;
}

#choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    color: var(--text-color);
    font-size: 2rem;
}

header {
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    font-size: 32px;
    border-bottom: 3px solid var(--text-color);
}

#game-title {
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    font-size: 25px;
}

#game-container {
    display: flex;
    height: 100%;
    padding-bottom: 10px;
}

#wordle-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wordle-game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4px;
    border-radius: 12px;
    box-sizing: border-box;
}

.wordle-char-tiles {
    border: 2px solid rgb(25,212,230);
    min-width: 70px;
    min-height: 70px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

#keyboard {
    display: none;
    height: 100%;
}

#keyboard-keys {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    grid-gap: 4px;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#startbtn {
    display: block;
}

@media (max-width: 600px) {
    #head-banner h1 {
        padding: 0.5rem;
    }

    header {
        font-size: 20px;
    }

    #game-title {
        font-size: 18px;
    }

    .modal-text {
        font-size: 18px;
    }

    #choice-container {
        font-size: 1rem;
    }

    .wordle-char-tiles {
        min-width: 60px;
        min-height: 60px;

    }

    #keyboard-keys {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2px;
    }

    .keys {
        min-width: 4rem;
        min-height: 3rem;
    }
}